body {
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
}

h1 {
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 100%;
  height: 15%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border-bottom: 2px dashed #000;
  z-index: 100;
}

.challenges {
  display: grid;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: blue;
}

.footer {
  position: relative;
  height: 100px;
  width: 50%;
  bottom: 0;
  margin-top: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.footer ul li {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
